{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="row justify-content-center m-4">
        <form action="{{ path('app_login') }}"  method="post" class="col-6 bg-light p-5 border border-primary rounded">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3 bg-light">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">aub wilt u inloggen</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" placeholder="vul je emailadres van school in" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Wachtwoord</label>
            <input type="password" name="password" placeholder="vul je wachtwoord zorgvuldig in" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary mt-2" type="submit">
                Sign in
            </button>
            <button class="btn btn-lg btn-primary mt-2 mr-4" type="reset">
                Reset
            </button>
            <a href="{{ path('visitor_home') }}"><button class="btn btn-lg btn-primary mt-2 ml-4">terug</button></a>
        </form>
    </div>

{% endblock %}
