{% extends "./base.html.twig" %}
{% block body %}
       <div class="row text-center p-2">
            <div class="col-8 display-4" >
                <kbd class="bg-secondary">SVJIT</kbd>
                <div>"School Voor Jong ICT Talent"</div>
                <h6 class="text-left pt-5"><a href="{{ path('app_login')}}" ><button type="button" class="btn btn-outline-success">klik hier om de school binnen te gaan</button></a></h6>
            </div>
            <div class="col-4">
                <article class="row p-2  bg-white border rounded border-success">
                    <div class="col-4 pl-0 pr-0">
                        <figure >
                            <img  src="{{ asset(principal.photo) }}" class="img-fluid col-12"/>
                            <figcaption class="text-center"><a href="mailto:{{ principal.email }}">{{ principal.fullname }}</a></figcaption>
                        </figure>
                    </div>
                    <div class="col-8">
                        {{ principal.motto|raw }}
                    </div>
                </article>
            </div>
       </div>
        <div class="row mt-2 p-2 justify-content-center">
            <div class="text-center col-11 display-2">DOCENTEN</div>
            {% for teacher in teachers %}
                <article class="col-2  p-2 bg-white border border-success rounded">
                    <div class="text-center"><a href="mailto:{{ teacher.email }}" title="stuur {{ teacher.fullname }} een mailtje">{{ teacher.fullname }}</a></div>
                    <figure class="text-center">
                        <img src="{{ asset(teacher.photo) }}" alt="{{ teacher.fullname }}" class="figure-img img-fluid col-12"/>
                        <figcaption class="text-center" >
                            {% if teacher.mentorclass is not null %}
                                <div >mentor van: {{ teacher.mentorclass.name }}</div>
                            {% endif %}
                        </figcaption>
                    </figure>
                </article>
            {% endfor %}
        </div>
        <div class="row  mt-2 p-2">
            <div class="text-center col-12 display-2">ADMINISTRATIE</div>
            {% for administrator in administrators %}
                <article class="col-2  p-2 bg-white border border-success rounded">
                    <figure class="text-center">
                        <img src="{{ asset(administrator.photo) }}" alt="{{ administrator.fullname }}" class="figure-img img-fluid col-12"/>
                        <figcaption class="text-center" title="stuur {{ administrator.firstname }} een mailtje">
                            <a href="mailto:{{ administrator.email }}">{{ administrator.fullname }}</a>
                        </figcaption>
                    </figure>
                </article>
            {% endfor %}
        </div>
{% endblock %}