{% extends "./base_teacher.html.twig"  %}

{% block content %}
    {% if class is empty%}
        <div class="row justify-content-center"><h1> Je hebt nog geen mentor klas</h1></div>
        <div class="row">
            <div class="col-12 text-center display-5">WIJZIG JE MOTTO. HOU HET ACTUEEL.</div>
            {{ include('shared_includes/wysiwyg.html.incl.twig') }}
        </div>
    {% else %}
        <div class="row justify-content-center bg-white">
            <div class="col-12 text-center display-5">WIJZIG JE MOTTO. HOU HET ACTUEEL.</div>
            {{ include('shared_includes/wysiwyg.html.incl.twig') }}
        </div>
        <div class="row justify-content-center"><h1> {{ class.name }}</h1></div>
        <div class="row">
            {% if class.users is empty %}
                <h1 class="col-12 text-center display-4">klas is nog leeg</h1>
            {% else %}
                {{include ('teacher/includes/usersforloop.incl.twig',{users:class.users}) }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ include("shared_includes/wysiwyg.script.incl.twig") }}
{% endblock %}