{% extends "./base_teacher.html.twig"  %}

{% block content %}
    {% if class is empty%}
        <div class="row justify-content-center"><h1> Je hebt nog geen mentor klas</h1></div>
    {% else %}
        <div class="row justify-content-center"><h1> {{ class.name }}</h1></div>
        <div class="row justify-content-center text-center">
            <div class="col-11">
                {% if class.mentor.motto is empty %}
                    <h4 class="bg-light">plaats hier aansturende informatie voor je mentor leerlingen</h4>
                {% else %}
                    <form id="motto_form" class="form-inline border bg-light rounded border-light row p-1 mb-2" method="post" action="{{ path('teacher_motto') }}"  >
                        <div  contenteditable="true" class="text-left col h-auto bg-white p-2 border rounded h4" id="content_editable_div" name='motto' placeholder="Zoek..." aria-label="Search">{{ class.mentor.motto}}</div>
                        <textarea id ='hidden_textarea' name="motto" class="d-none">{{ class.mentor.motto }}</textarea>
                        <button class="btn btn-outline-success  p-2 bg-light ml-2 col-1" type="submit">save</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if class.users is empty %}
                <h1 class="col-12 text-center display-4">klas is nog leeg</h1>
            {% else %}
            {{include ('teacher/includes/pupilsforloop.incl.twig',{pupils:class.users}) }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}

<script>
    function equateText()
    {
        document.querySelector("#hidden_textarea").value = document.querySelector("#content_editable_div").innerText;
    }
    document.querySelector('#content_editable_div').addEventListener('focusout',equateText)
</script>
{% endblock %}