{% extends "./base_teacher.html.twig"  %}

{% block content %}
    <div class="row justify-content-center" >

        <a href="{{ path('teacher_get_class',{'id':student.schoolclass.id}) }}" title="ga terug naar klas {{ student.schoolclass.name }}" class="my-1" >
            <button type="button" class="btn btn-outline-primary">
                <img src="{{ asset("img/up.png") }}" class="figure-img img-fluid"/>
            </button>
        </a>
    </div>
    <div class="row justify-content-center">
        {% if previous is not null %}
             <a class="my-auto col-2" href="{{ path('teacher_get_remarks',{'student_id':previous.id}) }}" title="ga naar {{ previous.fullname }}">
                <button type="button" class="btn btn-outline-primary "><img src="{{ asset('img/prev.png') }}" class="figure-img img-fluid w-75"/> </button>
            </a>
        {% else %}
                <span class="my-auto col-2 border rounded border-primary mr-2"> <img src="{{ asset('img/prev.png') }}" class="figure-img img-fluid w-75 p-2"/></span>
        {% endif %}
        <div class="col-xl-3 col-lg-5 col-md-6 col-sm-6 bg-light border border-success mb-1 ">
            <article class="p-1">
                <figure>
                    <img src="{{ asset(student.photo) }}" class="figure-img img-fluid w-100" alt="{{ student.fullname }}"/>
                    <figcaption class="figure-caption text-center h6">
                        <a href="mailto:{{ student.email}}">{{ student.fullname }}</a>
                    </figcaption>
                </figure>
                {% if student.schoolclass.mentor == app.user %}
                <div class="text-center"><a href="{{ path('teacher_reset_mentor_student',{"id":student.id}) }}"><button type="button" class="btn btn-outline-primary">reset wachtwoord</button></a></div>
                {% endif %}
            </article>
        </div>
        {% if next is not null %}
            <a class="my-auto col-2" href="{{ path('teacher_get_remarks',{'student_id':next.id}) }}" title="ga naar {{ next.fullname }}" >
                <button type="button" class="btn btn-outline-primary"><img src="{{ asset('img/next.png') }}" class="figure-img img-fluid w-75"/></button>
            </a>
        {% else %}
            <span class="my-auto col-2 border rounded border-primary ml-2"> <img src="{{ asset('img/next.png') }}" class="figure-img img-fluid w-75 p-2"/></span>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        {% for remark in remarks %}
            {% if update_remark is defined and update_remark == remark and app.user == remark.author %}
                <article class="bg-light col-xl-5 col-lg-5 col-md-9 col-sm-11 p-1 m-2 border rounded border-info">
                    <header class=" h6 bg-white border rounded border-info p-1">
                        <h6>WIJZIG DEZE OPMERKING </h6>
                    </header>
                    <main  class=" h6 bg-white border rounded border-info p-1 mt-1">
                        {{ form(update_form) }}
                    </main>
                </article>
            {% else %}
                <article class="bg-white col-xl-5 col-lg-5 col-md-9 col-sm-11 p-1 m-2 border rounded border-info">
                    <header class=" h6 bg-white border rounded border-info p-1">
                        <div class="h6" >titel: {{ remark.title }}</div>
                        <div class="h6"> datum: {{ remark.created|date("d-m-Y") }}</div>
                        <div class="h6">door: <a href="mailto:{{ remark.author.email }}">{{ remark.author.fullname }}</a> </div>
                        {% if app.user == remark.author %}
                                <a href="{{ path('teacher_update_remark',{'id':remark.id}) }}" class="mr-3" title="bewerk de door jou gemaakte opmerking">
                                    <button type="button" class="btn btn-outline-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </button>
                                </a>
                                <a href="{{ path('teacher_delete_remark',{'id':remark.id}) }}" title="verwijder deze door jou gemaakte opmerking">
                                    <button type="button" class="btn btn-outline-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </button>
                                </a>
                        {% endif %}
                    </header>
                    <main  class=" h6 bg-white border rounded border-info p-1 mt-1 ">{{ remark.content }}</main>
                </article>
            {% endif %}
        {% endfor %}
    </div>
    <div id="form_div" class="row justify-content-center ">
        {% if new_form is defined %}
        <div class="col-8 justify-content-center bg-light m-2 border border-primary rounded">
            <h5>voeg een opmerking toe over {{ student.fullname}}</h5>
            {{ form(new_form) }}
        </div>
        {% else %}
            <a href="{{ path('teacher_new_remark',{student_id:student.id}) }}">
                <button class="btn-outline-primary btn mb-1">voeg een opmerking toe over {{ student.fullname}}</button>
            </a>
        {% endif %}
    </div>
{% endblock %}
